.news-container {
  margin-top: 2em;
    color: #313437;
    background-color: #fff;

    .news {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      max-width: 90%;
    }
}

.news-container-item{
  padding-bottom: 40px;

  .news-item {
    padding-bottom: 60px;
      min-height: 160px;
  }
}


.icons {
  a{
    margin-right: 8px;
    i{
      font-size: 18px;
    }
  }
}


.noticies{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 90%;
}

.hgroup {
  width: 89vw;
  margin: auto;
  text-align: left;
}
h1{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size:30px;
}

.acount-content {
  margin-top:0.5em;
  img {
    margin: 0.5em 0em 0.5em 0em;
    width: 25px;
    height: 25px;
    border-radius: 160px;
  }
  span {
    font-size:14px;
    margin-left: 0.5em;
  }

}
.img-main{
  width: 100%;
  height: 100%; 
  margin: auto;
  object-fit: cover;
}

.img-main2{
  width: 373px;
  height: 274px;
  object-fit: cover;
}

.card{
  /*background-color: rgb(249, 249, 249);
  box-shadow:  12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
  padding:1em;*/
  margin-bottom:5em !important;
}

@media(max-width: 1241px){
  .img-main2{
    width: 100%;
    height: 100%; 
  }
}


.img-child{
  width:200px;
  height:200px;
  margin-right:1em;
  object-fit: cover;
}


.noSaves{
  padding-top: 10em;
  padding-bottom: 10em;
}

@media(max-width: 530px){

  .img-child{
    width: 100% !important;
  }
  
} 