<span class="ir-arriba"><i class="bi bi-arrow-up-circle" style="font-size:30px"></i></span>
<div *ngIf="loading" class="card-body">
	<div class="row card-container">
		<div class="col-md-4 border-md-right border-light text-center">
			<img class="img-fluid rounded-circle rounded" [src]="user.user.photo" alt="Image description" width="84">

			<h2 class="mb-2">{{user?.user.nickname}}</h2>
			<h5 class="text-muted mb-4">{{user?.user.name}}</h5>
			<h6 class="" style="color:#578CD9; font-weight: 900;">{{user?.user.tag_name}}</h6>
			

			<div *ngIf="showButtonFollow && privileges!=1" class="mb-3">
				<a *ngIf="!following" class="btn btn-outline-primary mb-2" (click)="follow()">Follow</a>
				<a *ngIf="following" class="btn btn-primary mb-2" (click)="unFollow()">Following</a>
			</div>
			<div *ngIf="privileges==1 && main.getCurrentUser().currentUser.id != user.user.id" class="mb-3">
				
				<button *ngIf="user.user.user_status==0" class="btn btn-outline-dark" (click)="action=1"  data-bs-toggle="modal" data-bs-target="#exampleModal2">Disabled</button>
				
				<button *ngIf="user.user.user_status==1" class="btn btn-dark" (click)="action=0"  data-bs-toggle="modal" data-bs-target="#exampleModal2">Enable</button>
				
				<button class="btn btn-outline-danger" (click)="action=2"  data-bs-toggle="modal" data-bs-target="#exampleModal2">Delete</button>


				<app-admin-alert [user]="user.user" [action]="action"></app-admin-alert>
			</div>
		</div>

		<div class="col-md-8">
			<h3 class="card-title">About me</h3>
			<p class="mb-5 font-weight-light">{{user?.user.about_me}}</p>

			<div class="row">
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="h3 mb-3">Followers</h4>

					<div class="mb-1">
						<span role="button" class="h1 font-weight-light text-muted" (click)="ff=followers?.data" data-bs-toggle="modal" data-bs-target="#exampleModal3" >{{followers?.total}}</span>
					</div>
				</div>

				<div class="col-lg-8">
					<h4 class="h3 mb-3">Following</h4>
					<div class="mb-1">
						<span role="button" class="h1 font-weight-light text-muted" (click)="ff=followings?.data" data-bs-toggle="modal" data-bs-target="#exampleModal3" >{{followings?.total}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="news-container">
	<div class="news">
		<div class="row news-container-item">
			<div *ngFor="let n of news; index as i;" [id]="n.id" class="col-12 col-sm-6 col-md-6">

				<div class="row news-item">

					<div role="button" (click)="goToNews(n.id)" class="col-md-4 img-child">
						<img [src]="n.main_cover" class="img-child rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div role="button" (click)="goToNews(n.id)">
							<h5 class="card-title">{{n.news_title}}</h5>
							<p class="card-text">{{n.subtitle}}</p>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{main.calculateDate(n.creation_date)}} ago</small></p>
						<div *ngIf="n.user_id == main.getCurrentUser().currentUser.id">
							<button class="btn btn-xs btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="editNew=n">Edit New</button>
							<button class="btn btn-xs btn-dark ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteId=n.id">Delete new</button>
						</div>	
					</div>
				</div>	
			</div>
		</div>
		
	</div>
	
</div>

<div class="justify-content-center loading" [style.display]="loading ? 'none' : 'flex'"> 
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit news</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to edit the news?
				If you edit the new, the main cover will be deleted.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="edit(editNew)">Yes</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete news</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete the news?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="delete(deleteId)">Yes</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal followers & followings -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Users</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div *ngFor="let f of ff ">
					<div role="button" data-bs-dismiss="modal" class="d-flex justify-content-between marco" (click)="goToProfile(f.nickname)">
						<div>
							<img class="img-fluid rounded-circle rounded" [src]="f.photo" alt="Image description" width="94">
						</div>
						<div class="d-flex align-items-center">
							<h3>@{{f.nickname}}</h3>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
