.rounded {
    width:80px;
    height:80px;
    border-radius:160px;
}

.card-body{
  padding:2.5em;
  .card-container{
    background-color: rgb(249, 249, 249);
    box-shadow:  12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    border: 1px solid rgba(0, 0, 0, .24);
    padding: 40px;
    border-radius: 8px;
    margin: 2em;
  }
}

.loading{
    padding:12em;
}

.text-muted {
  color: #5a6a7e !important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}


.font-weight-light {
  font-weight: 300 !important;
}

.text-muted {
  color: #5a6a7e !important;
}


@media(max-width:536px){
  .card-container{
    margin: 0!important;
    box-shadow: none !important;
  }

  .card-body{
    padding: 0 !important;
  }

}

/***********/

.news-container {
  margin-top: 2em;
    color: #313437;
    background-color: #fff;

    .news {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      max-width: 90%;
    }
}

.news-container-item{
  padding-bottom: 40px;

  .news-item {
    padding-bottom: 60px;
      min-height: 160px;
  }
}


.icons {
  a{
    margin-right: 8px;
    i{
      font-size: 18px;
    }
  }
}


.noticies{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 90%;
}

.hgroup {
  width: 89vw;
  margin: auto;
  text-align: left;
}
h1{
  margin-top: 1em;;
  font-size:30px;
}

.acount-content {
  margin-top:0.5em;
  img {
    margin: 0.5em 0em 0.5em 0em;
    width: 25px;
    height: 25px;
    border-radius: 160px;
  }
  span {
    font-size:14px;
    margin-left: 0.5em;
  }

}
.img-main{
  width: 100%;
  height: 100%; 
  margin: auto;
  object-fit: cover;
}

.img-main2{
  width: 373px;
  height: 274px;
  object-fit: cover;
}

.card{
  /*background-color: rgb(249, 249, 249);
  box-shadow:  12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
  padding:1em;*/
  margin-bottom:5em !important;
}

@media(max-width: 1241px){
  .img-main2{
    width: 100%;
    height: 100%; 
  }
}


.img-child{
  width:200px;
  height:200px;
  margin-right:1em;
  object-fit: cover;
}


.btn-light{
  border: 1px solid black;
}
.btn-dark{
  background-color: #282D32;
}

.marco{
  margin: 0.5em;
  margin-bottom: 1em;
  box-shadow:  5px 8px 0 rgba(0, 0, 0, .24), 0 8px 30px 0 rgba(255, 255, 255, 0.19);
  border: 1px solid rgba(0, 0, 0, .24);
  border-radius:5px;
  padding: 0.5em;
  transition:all 0.5s;
}

.marco:hover {
  transform:scale(1.05);
  transition:all 0.5s;
  background-color: rgba(52, 52, 52, 1.0);
  div{
    h3{color: white}
  }
  
}

.ir-arriba {
  display:none;
  padding:15px;
  background:#27292a;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
  z-index: 1;
}
@media(max-width: 530px){

  .img-child{
    width: 100% !important;
  }
  
} 

.card-text{
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}