.error{
  width: 100% !important;
  height:100% !important;
}

.u-error {
  margin-top:8em;
  margin-bottom:8em
  
}

.u-error__title {
  //line-height: 1;
  font-weight: 700;
  font-size: 12rem;
  color: #eaf2f9;
}

@media (max-width: 768px) {

  .u-error__title {
    font-weight: 700;
    font-size: 7rem;
    color: #eaf2f9;

  }
}

@media (max-width: 470px) {

  .u-error__title {
    font-weight: 700;
    font-size: 4rem;
    color: #eaf2f9;

  }
}



