<main class="d-flex align-items-center justify-content-center error" role="main">
	<div class="container text-center">
		<div class="u-error">
			<img class="img-fluid rounded-circle rounded" [src]="user?.photo" alt="Image description" width="84">

			<h1 class="u-error__title mb-0">Disabled</h1>

			<div class="u-error__text">
				<h1 class="mb-2">@{{user.nickname}} has been disabled.</h1>
				<p>This user has been deactivated for not respecting the community rules. </p>
				<a href="./index.html">Go to home</a>
			</div>
		</div>
	</div>
</main>