<span class="ir-arriba"><i class="bi bi-arrow-up-circle" style="font-size:30px"></i></span>
<div class="container-noticia">
    <div class="container noticia">
        <div class="setup">
            <img role="button" [src]="user.photo" class="rounded-circle rounded" (click)="this.main.redirectTo(user.nickname)"/>
            <div *ngIf="sessionUser.role == 2" class="icons">
                
                <a *ngIf="!liked" (click)="like()"  type="button" ><i class="bi icons bi-star" style="color:black"></i></a>
                <a *ngIf="liked" (click)="unlike()" type="button" ><i class="bi icons bi-star-fill" style="color:black;"></i></a>


                <a *ngIf="!saved" (click)="save()" type="button" ><i class="bi icons bi-bookmarks" style="color:black"></i></a>
                <a *ngIf="saved" (click)="unsave()" type="button" ><i class="bi icons bi-bookmarks-fill" style="color:black"></i></a>

                <a type="button" (click)="share()" ><i class="bi icons bi-share" style="color:black"></i></a>    
            </div>
        </div>
        <div class="hgroup">
            <h1>{{news?.news_title}}</h1>
            <h3>{{news?.subtitle}}</h3>
        </div>
        <div id="news-text" #newsText>
        </div>
    </div>
    
    <div class="flex-shrink-0 p-3 text-white bg-dark colBar" style="width: 280px;">
        <div class="d-flex info-img align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <img role="button" (click)="this.main.redirectTo(user.nickname)" [src]="user.photo" class="rounded-circle rounded" />
      </div>
      <hr>
      <div class="info">
        <p>User: @{{user.nickname}}</p>
        <p>Folowers: {{followers.total}}</p>
        <p>Email: {{user.email}}</p>
        <!-- <button class="btn btn-outline-primary">Folow</button> -->
        <div *ngIf="user.id != currentUserId && sessionUser.role == 2">
         <a *ngIf="!this.isFollowing" class="btn btn-outline-primary mb-2" (click)="this.follow()">Follow</a>
         <a *ngIf="this.isFollowing" class="btn btn-primary mb-2" (click)="this.unFollow()">Following</a>
     </div>
 </div>

</div>

</div>