button {
	border-radius: 4em;
}

.error-message{
    font-size:12px;
    display:flex;
    justify-content: center;
    color:red;
}
.news-container{
	display:flex;
	justify-content : space-between;
}

.rounded {
    width:50px;
    height:50px;
    border-radius:160px;
}
.setup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    text-align: center;
}
.info-img{
    display: flex;
    justify-content:center;
}

.modal-content{
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .24);
	
}

/*.form-control{
	background: none;
    border-radius: 0;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .24), 0 2px 5px 0 rgba(0, 0, 0, 0.1); 
    outline: none; 
}*/

.publish {
    display:none;
    padding:15px;
    background:#198754;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:100px;
    right:20px;
    z-index: 1;
}

.change {
    display:none;
    padding:15px;
    background:#214a80;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 1;
}


@media(max-width:992px){
  .colBar{display: none;}
  .change{display : block;}
  .publish{display:block;}

}