.news-container {
	margin-top: 2em;
  	color: #313437;
  	background-color: #fff;

  	.news {
  		display: flex;
  		flex-wrap: wrap;
  		margin: auto;
  		max-width: 90%;
  	}
}

.news-container-item{
	padding-bottom: 40px;

	.news-item {
		padding-bottom: 60px;
  		min-height: 160px;
	}
}


.icons {
	a{
		margin-right: 8px;
		i{
			font-size: 18px;
		}
	}
}


.noticies{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 90%;
}

.hgroup {
  width: 89vw;
  margin: auto;
  text-align: left;
}
h1{
  margin-top: 1em;;
  font-size:30px;
}

.acount-content {
	margin-top:0.5em;
	img {
	  margin: 0.5em 0em 0.5em 0em;
	  width: 25px;
	  height: 25px;
	  border-radius: 160px;
	}
	span {
		font-size:14px;
		margin-left: 0.5em;
	}

}
.img-main{
	width: 100%;
  height: 100%;	
  margin: auto;
  object-fit: cover;
}

.img-main2{
	width: 373px;
	height: 274px;
  object-fit: cover;
}

.card{
	/*background-color: rgb(249, 249, 249);
  box-shadow:  12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
  padding:1em;*/
  margin-bottom:5em !important;
}

.card-text{
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

@media(max-width: 1241px){
	.img-main2{
 		width: 100%;
  	height: 100%;	
	}
}

/*
@media(max-width: 768px){
  .row > * {
    width:auto ;
  }
}
*/
@media(max-width: 530px){

  .img-child{
  	width: 100% !important;
  }
  
} 

.img-child{
	width:200px;
	height:200px;
	margin-right:1em;
  object-fit: cover;
}


  
/* Tooltip */
.apiNews .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #27292a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.apiNews .tooltiptext::after {
    position: absolute;         
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #27292a transparent transparent transparent;
}

.apiNews:hover .tooltiptext {
    visibility: visible;
}

.apiNews {
    position: relative;
    display: inline-block;
}


.ir-arriba {
	display:none;
	padding:15px;
	background:#27292a;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 1;
}