<div class="login-container">
    <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4 eslogan">
          <h2 class="mb-4">We are more than just a company</h2> 
          <p class="small mb-9">The best ideas can change who we are. Secció Àuria is where those ideas take shape, take off, and spark powerful conversations. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.
            </p>
            <div>
                <h4>Don't have an account?</h4>
                <button class="btn btn-outline-light" (click)="this.main.redirectTo('signUp')">Sign Up</button>
            </div>
        </div>
      </div>

    <section class="login-dark">
        <form method="post" (ngSubmit)="submit()" [formGroup]="loginForm">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><img src="assets/images/logo_transparent.png"  width="150" alt=""></div>
            <div class="mb-3">
                <input type="nickname" class="form-control" name="nickname" placeholder="Nickname" formControlName="nickname"/>
                <span *ngIf="loginForm.get('nickname')?.touched && loginForm.get('nickname')?.errors?.['required']"
                    class="error-message">*Nickname is required
                </span>

                <span *ngIf="loginForm.get('nickname')?.touched && loginForm.get('nickname')?.errors?.['pattern']" 
                    class="error-message">
                    *Nickname cannot containes spaces, upper cases, and {{"/\{}><-*"}}
                </span>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password"/>
                <span *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
                    class="error-message">*Password is required
                </span>
            </div>
            <div class="mb-3"><button [disabled]="!this.loginForm.valid || disabledButton" class="btn btn-primary d-block w-100" type="submit">Login</button></div>
            <a class="forgot" role="button" (click)="recoverPassword()">Forgot your email or password?</a>
            <div> <button class="btn btn-lg btn-block btn-primary w-100" style="background-color: #dd4b39;" type="button" (click)="loginGoogle()"><i class="fab fa-google me-2"></i> Login with google</button></div>
        </form>
    </section>
</div>

