<div class="mt-3">
	<div class="d-flex justify-content-center">
		<img src="assets/images/logo.png" width="350" alt="350"/>
	</div>
	<div style="text-align:center;" class="mt-5">
		<h1>Admin Back office </h1>		
	</div>
	<div class="d-flex justify-content-center m-5">
		<button class="btn btn-dark" (click)="main.redirectTo('search')">Search profile</button>
	</div>
</div>
