<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Notifications</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div *ngFor="let n of notifications " class="notification" role="alert" aria-live="assertive" aria-atomic="true">
      <div role="button" (click)="main.redirectTo(n.nickname)" class="toast-header">
        <img [src]="n.photo" class="rounded-circle rounded me-2" alt="...">
        <strong class="me-auto">@{{n.nickname}} </strong>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
      </div>
      <div class="toast-body d-flex flex-column">
        <div *ngIf="n.type_notification == 1" class="d-flex flex-column">
          <span>follow you</span>
          <small class="text-muted">{{main.calculateDate(n.creation_date)}} ago</small>
        </div>
        <div *ngIf="n.type_notification == 4" class="d-flex flex-column">
          <span>We send you a random password on your email.</span>
          <small class="text-muted">{{main.calculateDate(n.creation_date)}} ago</small>
        </div>
        <div *ngIf="n.type_notification == 3" class="d-flex justify-content-between">
          <div class="d-flex flex-column">
           <span>liked your post</span>
           <small class="text-muted">{{main.calculateDate(n.creation_date)}} ago</small>
         </div>   
         <img role="button" [src]="n.main_cover" class="notification-img me-2" (click)="goToNews(n.news_id)">
       </div>

     </div>
   </div>
 </div>
</div>