<main class="d-flex align-items-center justify-content-center error" role="main">
	<div class="container text-center">
		<div class="u-error">
			<h1 class="u-error__title mb-0">404</h1>

			<div class="u-error__text">
				<h1 class="mb-2">Page Not Found</h1>
				<a href="./index.html">Go to home</a>
			</div>
		</div>
	</div>
</main>