<div class="d-flex justify-content-center">
	<section class="changeProfile-dark" >
		<!-- <h2 class="visually d-flex justify-content-center">Settings</h2> -->
		<form (submit)="this.submit()" [formGroup]="settingForm">
			<div  class="col-md-12 border-md-right border-light text-center">
				<img class="img-fluid rounded-circle rounded" [src]="user?.user.photo" alt="Image description" width="84">
			</div>
			<div class="mb-3 d-flex justify-content-center">
				<button type="button" id="actionButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					Change photo
				</button>  
			</div>
			<div  class="mb-3">
				<label>Nickname:</label>
				<input  type="nickname" class="form-control" name="nickname" placeholder="Nickname" formControlName="nickname" />

				 <span *ngIf="settingForm.get('nickname')?.touched && settingForm.get('nickname')?.errors?.['required']"
                    class="error-message">*Nickname is required
                </span>

                <span *ngIf="settingForm.get('nickname')?.touched && settingForm.get('nickname')?.errors?.['maxlength']"
                    class="error-message">*Allowed length 20 characters
                </span>

                <span *ngIf="settingForm.get('nickname')?.errors?.['pattern']"
              		class="error-message">*Nickname cannot containes spaces, upper cases, and {{"/\{}><-*"}}
            	</span>

			</div>

			<div class="mb-3">
				<label>Name:</label>
				<input  type="name" class="form-control" name="name" placeholder="Name" formControlName="name"/>

				 <span *ngIf="settingForm.get('name')?.touched && settingForm.get('name')?.errors?.['required']"
                    class="error-message">*Name is required
                </span>
                <span *ngIf="settingForm.get('name')?.touched && settingForm.get('name')?.errors?.['maxlength']"
                    class="error-message">*Allowed length 20 characters
                </span>
			</div>

			<div  class="mt-4">
				<label>About me:</label>
				<textarea rows="5" class="form-control" class="w-100 about_me" formControlName="about_me" ></textarea>

                <span *ngIf="settingForm.get('about_me')?.touched && settingForm.get('about_me')?.errors?.['maxlength']"
                    class="error-message">*Allowed length 300 characters
                </span>
			</div>

			<div class="mt-4">
				<select class="form-select" formControlName="category" aria-label="Default select example">
					<option id="1" value="1">Random</option>
					<option id="2" value="2">Games</option>
					<option id="3" value="3">Music</option>
					<option id="4" value="4">Sience</option>
					<option id="5" value="5">Education</option>
				</select>				
			</div>

			<div class="mb-3"><button [disabled]="!settingForm.valid || disabledButton" class="btn btn-primary d-block w-100" type="submit" 
				>Save</button>
			</div>
			<hr>
			<div class="mb-3"><button class="btn btn-secondary d-block w-100" type="button"
				data-bs-toggle="modal" [disabled]="disabledButton"
					data-bs-target="#exampleModal1">Change password</button>
			</div>
			<div class="w-100 justify-content-center loading" [style.display]="disabledButton ? 'flex' : 'none'"> 
			    <div class="spinner-border text-primary" role="status">
			        <span class="visually-hidden">Loading...</span>
			    </div>
			</div>
		</form>
	</section>
</div>

<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header d-flex justify-content-center">
				<h5 class="modal-title" id="exampleModalLabel">Change Photo</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div>


				<div [formGroup]="changeImg" class="d-flex justify-content-center">
					<input type="file" formControlName="fileControlName" (change)="fileChangeEvent($event)" />
				</div>


				<div class="d-flex justify-content-center">
					<image-cropper class="cropper"
					[imageChangedEvent]="imageChangedEvent"
					[maintainAspectRatio]="true"
					[aspectRatio]="2 / 2"
					format="png"
					(imageCropped)="imageCropped($event)"
					(imageLoaded)="imageLoaded()"
					(cropperReady)="cropperReady()"
					(loadImageFailed)="loadImageFailed()"
					[roundCropper]="true"
					></image-cropper>
				</div>

				<div class="d-flex justify-content-center">
					<img class="img-result" [src]="!this.hiddenImgView ? croppedImage : user.user.photo" />					
				</div>

			</div>

			<div class="d-flex justify-content-center">
				<button type="button" data-bs-dismiss="modal" class="btn btn-primary modal-button" (click)="this.savePhoto()">
					Save Photo
				</button>  
			</div>
			<div class="d-flex justify-content-center">
				<button type="button" data-bs-dismiss="modal" class="btn btn-danger modal-button">
					Cancel
				</button>  
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal1" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header d-flex justify-content-center">
				<h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
				<button type="button" class="btn-close" id="close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="changePasswordForm" enctype="multipart/form-data">
				<div class="m-2">
					<input type="password" class="w-100 p-2" id="" formControlName="currentPassword" placeholder="Current password">

					<span *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.errors?.['required']"
					class="error-message">*Required</span>

				</div>
				<div class="m-2">
					<input type="password" class="w-100 p-2" id="" formControlName="newPassword" placeholder="New password">

					<span *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.errors?.['required']"
					class="error-message">*Required</span>

					<span *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.errors?.['pattern']" 
					class="error-message">
				*The confirm password is weak. The confirm password must have at least one capital letter, a number and a minimum length of 8 characters.</span>

			</div>

			<div class="m-2">
				<input type="password" class="w-100 p-2" id="" formControlName="confirmNewPassword" placeholder="Confirm new password">

				<span *ngIf="changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.errors?.['required']"
				class="error-message">*Required</span>


				<span *ngIf="changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.errors?.['pattern']" 
				class="error-message">
			*The confirm password is weak. The confirm password must have at least one capital letter, a number and a minimum length of 8 characters.</span>

		</div>
		<!-- data-bs-dismiss="modal" -->
		<div class="d-flex justify-content-center"> 
			<button type="button" (click)="changePasswordSubmit()" [disabled]="!changePasswordForm.valid"  class="btn btn-outline-success modal-button">
				Change password
			</button>  
		</div>

	</form>



</div>
</div>
</div>