<nav *ngIf="!this.navBarStatus" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- fixed-top -->
  <nav class="container-fluid">
    <a class="navbar-brand">
      <img role="button" src="assets/images/logo.png" height="90" width="90" alt="Secció Àuria" (click)="this.main.redirectTo('home')">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
        aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item"><a type="button" class="nav-link" (click)="main.redirectTo('home')">Home</a></li>
        
        <li class="nav-item"><a type="button" class="nav-link" (click)="main.toastr.info('Register or login to perform this action.')" >Search</a></li>
        
        <li class="nav-item"><a type="button" class="nav-link" (click)="main.toastr.info('Register or login to perform this action.')">Notifications</a></li>
      </ul>

      <div class="btn-group profile">
        <button class="btn btn-dark signUp" (click)="this.main.redirectTo('signUp')">Sign Up</button>
        <button class="btn btn-outline-light logIn" (click)="this.main.redirectTo('login')">Log in</button>
      </div>
    </div>
  </nav>
</nav>




<nav *ngIf="this.navBarStatus" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- fixed-top -->
    <nav class="container-fluid">
      <a class="navbar-brand">
         <img role="button" src="assets/images/logo.png" height="90" width="90" alt="Secció Àuria" (click)="this.main.redirectTo('home')">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="menu">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        
          <li class="nav-item"><a type="button" class="nav-link" (click)="this.main.redirectTo('home')">Home</a></li>
          <li class="nav-item">
            <a class="nav-link position-relative" data-bs-toggle="offcanvas" href="#offcanvasWithBackdrop" role="button" aria-controls="offcanvasWithBackdrop" (click)="notificationsViewed()">Notifications 
              <span *ngIf="main.getParams()" class="position-absolute top-90 start-80 translate-middle p-1 bg-danger border border-light rounded-circle" >
              </span>
            </a>
          </li>
          <li class="nav-item"><a type="button" class="nav-link" (click)="this.main.redirectTo('search')" >Search</a></li>
        </ul>
        
        <app-notifications></app-notifications>

        <div class="dropdown dropstart profile ">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="this.getUser.photo" class="rounded-circle rounded">
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="dropdownUser1" style="">
            <li><a type="button" class="dropdown-item" (click)="this.main.redirectTo('create-new')">Create a new</a></li>
            <li><a type="button" class="dropdown-item" (click)="this.main.redirectTo('settings')">Settings</a></li>
            <li><a type="button" class="dropdown-item" (click)="this.main.redirectTo('profile')">Profile</a></li>
            <li><a type="button" class="dropdown-item" (click)="this.main.redirectTo('saves')">Saves</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" role="button" (click)="this.signOut()">Sign out</a></li>
          </ul>
       
        </div>
       
      </div>

    </nav>
</nav>